@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject Aion.AppHost.Services.IAionThemeService ThemeSvc

<HeadContent>
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link href="Aion.AppHost.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</HeadContent>

<FluentProvider Theme="ThemeSvc.Current">
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="typeof(MainLayout)">
                    <p>Page introuvable.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</FluentProvider>
