<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Fluent UI Styles - OBLIGATOIRE -->
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />

    <!-- Bootstrap (optionnel si vous l'utilisez) -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <!-- Vos styles custom -->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Aion.AppHost.styles.css" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />

    <!-- Fluent UI Script - OBLIGATOIRE -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/web-components-v2.5.16.min.js" type="module" async></script>

    <!-- Blazor Script -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
